lib-cov/
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
*.rdb

pids/
logs/
results/

npm-debug.log
node_modules/
test/acceptance/*-results.xml

build/
dist/
.sass-cache/
bower_components/
app/bower_components/
doc/complexity

# for twitter secrets
config/auth.js
.vagrant
