<div id="firstPage">
	<h1>Checkout Items</h1>
	<div class="btn-group">
	  <button type="button" id="Add" class="btn btn-default">Add</button>
	</div>

	<div id="priceItems">
	</div>

	<br><br><br>
	<div class="btn-group">
	  <button type="button" id="Calculate" class="btn btn-default">Submit</button>
	</div>	
</div>

<div id="results">
</div>

