<div>
    <form id="item">
        <div class="row">
            <div class="col-xs-2">
                <div class="input-group">
                    <span class="input-group-addon">$</span>
                    <input type="text" name="price" class="form-control" placeholder="US Dollar">
                    <span class="input-group-addon"></span>
                </div>
            </div>            
            <div class="col-xs-4">
                <div class="input-group">
                    <input type="text" name="description" class="form-control" placeholder="Description">
                    <div class="input-group-btn">
                        <!-- <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">Item Type <span class="caret"></span></button> -->
                        <ul class="select pull-right">
                            <li><a href="#">Book</a></li>
                            <li><a href="#">Food</a></li>
                            <li><a href="#"></a></li>
                            <li class="divider"></li>
                            <li><a href="#">Separated link</a></li>
                        </ul>
                    </div>
                    <select name="type" class="form-control">
                        <option value="DomesticRegular">Domestic Book, Food, Medical</option>
                        <option value="DomesticGeneral">Domestic General</option>
                        <option value="ImportsRegular">Import Book, Food, Medical</option>
                        <option value="ImportsGeneral">Import General</option>
                    </select>
                </div>
            </div>
            <div class="btn-group">
              <button type="button" id="Delete" class="btn btn-default">Remove</button>
            </div>                    
        </div>
    </form>
</div>