<tr>
    <td>   </td>
    <td>   </td>
    <td class="text-right">
<!--     <p>
        <strong>Subtotal:</strong>
    </p>
 -->    <p>
        <strong>Tax:</strong>
    </p></td>
    <td class="text-center">
<!--     <p>
        <strong>$6.94</strong>
    </p>
 -->    <p>
        <strong>{{tax}}</strong>
    </p></td>
</tr>
<tr>
    <td>   </td>
    <td>   </td>
    <td class="text-right"><h4><strong>Total: </strong></h4></td>
    <td class="text-center text-danger"><h4><strong>{{total}}</strong></h4></td>
</tr>
